.home_container_outer{
    display: flex;
    justify-content: center;
    max-width: 100vw;
}
.freehand_header{
    font-family: Freehand;
    font-size: 30pt;
    padding: 1rem;
    font-weight: 500;
    font-style: normal;
    color: #0B8F99;
}
.home_ladder{
    height: auto;
    width: 100vw;
}
.home_top_text{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}
.home_top_text p{
    font-family: Kaisei Decol;
    font-size: 12pt;
    line-height: 2;
}
.blog_section{
    width: 100vw;
    background-color: #D47A5F;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.blog_block{
    background-color: #D9D9D9;
    margin: 2rem;
    padding: 1rem;
}
.blog_block h2{
    color: #0B8F99;
    font-family: Kaisei Decol;
    font-weight: 500;
}
.blog_image{
    height: 100px;
    width: 100px;
    position: relative;
}
.blog_history{
    background-color: #D9D9D9;
    margin: 2rem;
    padding: 1rem;
}
.blog_history h2{
    color: #0B8F99;
    font-family: Kaisei Decol;
    font-weight: 500;
}

.blog_history button{
    border: none;
    background-color: #0B8F99;
    font-family: Kaisei Decol;
    font-weight: 500;
    color: white;
    font-size: 16pt;
    padding: .6rem;
}
.home_links img{
width: 35vw;
}
.listen_learn_watch{
    background: linear-gradient(to top, #D9D9D9, #ffffff);
    padding: 1.5rem;
}
.CRL_for_all{
    background-color: #57558C;
    color: white;
    font-family: Kaisei Decol;
    padding: 1rem;
}
.CRL_for_all h2, h3{
    font-weight: 500;
}
.CRL_for_all img{
    width: 70vw;
}
.global_bottom img{
width: 20vw;
}